<h1>Edit Movie Here: </h1>

<form method="POST" action="/movies/<%= @movie.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    Title:  <input type="text" id="title" name="title" value="<%= @movie.title %>">
    <br><br>
    <label for="shelf" id="shelf" name="shelf">Shelf: </label>
    <select id="shelf" name="shelf">
        <option value="Comedy">Comedy</option>
        <option value="Action">Action</option>
        <option value="Horror">Horror</option>
        <option value="Drama">Drama</option>
    </select>
    <button type="submit">Send Changes</button>
</form>