<h1>Favorite movies for <%= current_user.username %></h1>
<br>
<br>
<% Movie.all.each do | movie | %>
    <%= movie.title %>
    <!-- <li></li><%= movie.shelf %><li> -->
<% end %>
<br>
<br>
    <a href="/movies/new">Create A New Movie</a>
<br>
<br>
    <a href="/movies">Movies Main Page</a>
<br>
<br>
    <a href="/logout">Log Out</a>