<h1>Enter new movie here</h1>
<br>
<br>
<form method="POST" action="/movies">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title">
    <br>
    <br>
    <label for="shelf" id="shelf" name="shelf">Shelf: </label>
    <select id="shelf" name="shelf">
        <option value="Comedy">Comedy</option>
        <option value="Action">Action</option>
        <option value="Horror">Horror</option>
        <option value="Drama">Drama</option>
    </select>
    <br><br>
    <button type="submit">Create Movie!!</button>
</form>