<h1>Enter new movie here</h1>
<br>
<br>
<form method="POST" action="/movies">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title">
    <br>
    <!-- <label for="shelf">Shelf: </label>
    <select id="shelf" name="shelf">
        <option value="comedy">Comedy</option>
        <option value="action">Action</option>
        <option value="horror">Horror</option>
        <option value="drama">Drama</option>
    </select> -->
    <button type="submit">Submit</button>
</form>