<style>
input[type="text"], input[type="password"] {
  border-radius:0.5em;
  border: 1px solid #aaa;
  margin: 8px 2px;
  outline: none;
  padding: 8px;
}

input[type="text"]:hover, input[type="password"]:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #4d90fe;
  outline: none;
  background-color: #f3f3f3;
}
  
  button[type="submit"] {
    margin-left: 2px;
  }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1>Enter new movie here</h1>
<br>
<br>
<form method="POST" action="/movies" name="newMovie">
    <input type="text" name="title" id="title" placeholder="movie title">
    <br>
    <br>
    <label for="shelf" id="shelf" name="shelf">Shelf: </label>
    <select id="shelf" name="shelf">
        <option value="Comedy">Comedy</option>
        <option value="Action">Action</option>
        <option value="Horror">Horror</option>
        <option value="Drama">Drama</option>
    </select>
    <br><br>
    <button type="submit" class="btn btn-primary">Create Movie!!</button>
</form>