<h1>Movie Title: <%= @movie.title %></h1>
<!--<h1>Shelf: <%= @movie.shelf %></h1>-->

<br><br><br>

<form method="POST" action="/movies/<%= @movie.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <button type="submit" value="delete">Delete Movie</button>
</form>
<br>
<a href="/movies"><button type="submit">Main Movies Page</button>
<br>
<br>
<a href="/movies/<%= @movie.id %>/edit"><button type="submit">Edit Movie</button>