<style>
input[type="text"], input[type="password"] {
  border-radius:0.5em;
  border: 1px solid #aaa;
  margin: 8px 2px;
  outline: none;
  padding: 8px;
}

input[type="text"]:hover, input[type="password"]:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #4d90fe;
  outline: none;
  background-color: #f3f3f3;
}
  
  button[type="submit"] {
    margin-left: 2px;
  }
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1>Create a New Movie Lover Here!!</h1>
<% if @error != nil %>
        <div class="alert alert-danger" style="width: 30%;">
            <%= @error %>
        </div>
<% end %>
<form method="POST" action="/signup" name="createUser">
    <input type="text" name="username" placeholder="username" onfocus="this.placeholder=''" onblur="this.placeholder='username'"><br>

    <input type="text" name="email" placeholder="email" onfocus="this.placeholder=''" onblur="this.placeholder='email'"><br>

    <input type="password" name="password" placeholder="password" onfocus="this.placeholder=''" onblur="this.placeholder='password'"><br>

    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
</form>