<!doctype html>
<html>
  <head>
    <title>Movie Favorites!!</title>
  </head>
  <body>

   <% if logged_in? %>
        <a href="/movies"> Main Movies Page </a>
        &nbsp;
        &nbsp;
        <a href="/movies/new"> Create Movie </a>
        &nbsp;
        &nbsp;
        <a href="/logout"> Log Out </a>
        <p>Hello <%=current_user.username %>!!</p>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>

    <div class="container">
      <h1>It's the Movie Favorites App!!</h1>
      <%= yield %>
    </div>

  </body>
</html>
