<!doctype html>
<html>
  <head>
    <title>Movie Favorites!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

   <% if logged_in? %>
        <a class="nav-item nav-link" href="/movies"> Main Movies Page </href=>
        &nbsp;
        &nbsp;
        <a class="nav-item nav-link" href="/movies/new"> Create Movie </a>
        &nbsp;
        &nbsp;
        <a class="nav-item nav-link" href="/logout"> Log Out </a>

      <% else %>
        <a class="nav-item nav-link" href="/signup">Become a Favorite Movie Organizer!!</a>
        &nbsp;
        &nbsp;
        <a class="nav-item nav-link" href="/login"> Sign In </a>
      <%end %>
    </div>
  </div>
  </nav>

    <div>
      <h1><a href="/movies">It's the Movie Favorites App!!</a></h1>
      <%= yield %>
    </div>

  </body>
</html>
