<!doctype html>
<html>
  <head>
    <title>Movie Favorites!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

   <% if logged_in? %>
        <a href="/movies"> Main Movies Page </a>
        &nbsp;
        &nbsp;
        <a href="/movies/new"> Create Movie </a>
        &nbsp;
        &nbsp;
        <a href="/logout"> Log Out </a>
        <p>Hello <%=current_user.username %>!!</p>

      <% else %>
        <a href="/signup">Become a Favorite Movie Organizer!!</a>
        &nbsp;
        &nbsp;
        <a href="/login"> Sign In </a>
      <%end %>

    <div>
      <h1>It's the Movie Favorites App!!</h1>
      <%= yield %>
    </div>

  </body>
</html>
