<!doctype html>
<html>
  <head>
    <title>Movie Favorites!!</title>
  </head>
  <body>

    <div class="container">
      <h1>It's the Movie Favorites App!!</h1>
      <%= yield %>
    </div>

  </body>
</html>
